{% extends '::base.html.twig' %}

{% block main %}
  {{ form_start(form) }}
  {{ form_row(form.firstName) }}
  {{ form_row(form.lastName) }}
  {{ form_row(form.email) }}
  {{ form_row(form.phone) }}
  <button type="submit" class="btn btn-primary">Next</button>
  {{ form_end(form) }}
{% endblock %}
